<h1 class=" text-center mt-4">All Articles</h1>

<%= will_paginate @articles%>
<%= render 'article'%>

<div class="button-cont">
  <%= link_to "Create New Article", new_article_path, class: "btn btn-outline-dark" %>
</div>