<h1>Articles listing page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |a| %>
    <tr>

      <td><%= a.title %></td>
      <td><%= a.description %></td>
      <td><%= link_to 'show', article_path(a) %></td>
      <td><%= link_to 'Delete', article_path(a), data: { turbo_method: "delete" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>