<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Alzubair", "https://alzubair.netlify.app/", class: "copy-right text-white" %> </small>
  </div>
</footer>