<div id="page-content">
  <div class="container" id="home-cont">
    <div class="jumbotron text-center">
      <h1 class='display-4'>Alzubair Blog App</h1>
      <p class='lead'>This is a simple hero unit</p>
      <hr class="my-4">
      <p>it is not what i want</p>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign up! </a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Alzubair </small>
  </div>
</footer>