<div class="container" id="home-cont">
  <div class="jumbotron text-center">
    <h1 class='display-4'>Alzubair Blog App</h1>
    <p class='lead'>This is a simple blog app using Rails</p>
    <hr class="my-4">
    <p>Feel Free To Try It</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg"%>
  </div>
</div>