
html,body{
    height: 100%;
}


.navbar{
    background-color: black !important;
}

.nav-link{
    color: white !important;
}

#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-cont{
    margin-top: 3.56rem;
}

.jumbotron{
    padding: 3%;
    background-image: asset-url("image1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30.56rem;
}

#page-content{
    flex: 1 0 auto;
    background-color: lightgray;
}

#sticky-footer {
    flex-shrink: none;
}

.copy-right{
    text-decoration: none;
}

.button-cont{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.submit-button{
    margin-top: 1rem;
}


// pagination

.apple_pagination {
    text-align: center;
    padding: 1em;
    cursor: default; }
    .apple_pagination a, .apple_pagination span {
      padding: 0.2em 0.3em; }
    .apple_pagination .disabled {
      color: #aaaaaa; }
    .apple_pagination .current {
      font-style: normal;
      font-weight: bold;
      background-color: #bebebe;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.5;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
    .apple_pagination a {
      text-decoration: none;
      color: #aaaaaa; }
      .apple_pagination a:hover, .apple_pagination a:focus { 
        color: gray;
    }