<h1 class='text-center mt-4'>Edit the Category</h1>

<%= render 'form'%>
<div class="margin">
  <%= link_to 'back to category', category_path(@category), class: "btn btn-outline-success btn-lg"%>
</div>