<h1 class='text-center mt-4'>Create new Category</h1>

<%# <%= render 'shared/errors', obj: @category %>

<%= render 'form'%>
<div class="margin">
  <%= link_to 'back to Articles', articles_path, class: "btn btn-outline-success btn-lg"%>
</div>